*{
    padding: 0px;
    margin: 0px;
}
.navbar-nav{
    margin-left:55%;
}

footer{
    height: 7em;
    background-color:linen;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}
.para1 {
    text-align: center;
    padding-left: 15%;
    padding-right: 30%;
    font-size: x-small;
}
.carousel-inner{
    width:100%;
    max-height: 600px !important;
    transition: 0.5s ease-in-out;
  }
 h4{
     color:blue;
     text-align: center;
 } 
  .marginf{
      padding-top:5%;
      padding-left: 20%;
      padding-bottom: 20%;
      padding-right: 20%;
      color:black;
  }
  .form1{
      background-image: url(/images/t5.jpg);
      background-attachment: fixed;
      background-size: cover;
  }
  .form2{
     margin-top:50px;
     margin-bottom:170px;
     margin-right: 30%;
     margin-left: 30%;
     padding-left: 100px;
     padding-bottom: 60px;
     padding-top: 30px;
     color:ghostwhite;
    }
  .form2 a{
    text-decoration: none;
    color:ghostwhite;
    
    }
 .imag{
         
         margin-top: 40px;
         margin-bottom: 40px;
        
        }   
  .imag .row{
      padding-bottom: 30px;
  } 
  .imag .row .col a{
    text-decoration: none;
}     
.imag .row .col {
    text-align: center;
}  
.dist{
    margin-top: 50px;
    margin-left: 5%;   
    margin-bottom: 50px;
    margin-right: 30px;
} 
.dist h3{
    color: blue;
}   
.dist .tex-img img{
    float:right;
}

.dist .text-img p{
   text-align: justify; 
  
}   
.dist h4{
    color: blue;
}   
.pimg .row .col-4 p{
    text-align: left;
    color: blue;
}
.pimg .row .col-4 img:hover{
    transform: scale(1.5);
}